.bike-item {
  display: flex;
  flex-wrap: wrap;
  margin: 12px;
  background-color: #f2f2f2;
  max-height: 160px;
  width: 1024px;
  max-width: 1024px;
}

.bike-item-info {
  display: inherit;
}

.bike-information {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  padding: 12px 12px;
}
